# ===============================
# Build files
# ===============================
target/
build/

# ===============================
# IDE files
# ===============================
.idea/
.vscode/
*.iml

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Env / Secrets
# ===============================
.env
application-local.properties
application-prod.properties